<section>
  <div class="container h-100">
    <div class="row justify-content-center h-100">
      <div class="col-sm-6">
        <div class="card">
          <img class="img card-img-top" src="../../../assets/img/photo-1453844598634-41bfc63e7b23.png" alt="Card image cap">
          <div class="card-img-overlay h-100 d-flex flex-column justify-content-end">
            <h5 class="card-title">FIGHT LIKE A SPIDER</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <a href="#" class="link-light">READ MORE</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <img class="img card-img-top" src="../../../assets/img/photo-1468645547353-56d325bb57ff.png" alt="Card image cap">
          <div class="card-img-overlay h-100 d-flex flex-column justify-content-end">
            <h5 class="card-title">RUN LIKE A CHEETAH</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <a href="#" class="link-light">READ MORE</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>